<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WhatScienceMan login in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-color: darkgreen;
            color: white;
            text-align: center;
        }
    </style>
    <title>Courses</title>
    <h1>Courses</h1>
    <li>Spring Boot Framework</li>
    <li>Spring Boot Security</li>
    <li>Spring Boot Web</li>
</head>
<body>
<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <h2 class="form-signin-heading">Logout</h2>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>
</div>
</body>
</html>